.post-container {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(197, 197, 197);
}

.username-section {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.username-section img {
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.post-container img {
    max-height: 440px;
    margin: 5px 10px;
    object-fit: cover;
}

.post-icons {
    display: flex;
    margin-left: 20px;
    padding-top: 10px;
}

i {
    font-size: 20px;
}

.post-icons i:last-child {
    margin-left: 10px;

}

.post-container p {
    margin: 10px 20px;
}